*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
.box1 {
    background-color: gray;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 40vh;
    position: relative;
    top: 300px;
    box-shadow: 8px 8px;
    
}
.box_h2{
    display: block;
    background-color: aqua;
    border-radius: 15px;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 4vh;
    padding: 15px;
    text-align: center;
    bottom: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.box_text {
    position: relative;
    top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 15px;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 35px;
}
