<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto ML</title>
</head>
<body>
    <header>
        <img src="/images/logo.svg" alt="">
        <input type="text">
        <p>compra en cuotas y sin tarjetas de credito</p>
    </header>
    <main>
        <ul>
            <li><a href="">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="">Creá tu cuenta</a></li>
            <li><a href="">Ingresá</a></li>
            <li><a href="">Mis compras</a></li>
        </ul>
        <section>
            <strong><p>Basado en tu ultima visita</p></strong>

            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770 <br> 40% off</p>
            <strong><p>Cafetera Moulinex</p></strong>

            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <p>$230.000 <br> 20% off</p>
            <strong><p>MacBook Pro 2019</p></strong>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <p>$70.500 <br> 10% off</p>
            <strong><p>Samsung Galaxy S10</p></strong>

            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <p>$23.200 <br> 5% off</p>
            <strong><p>SmartTv Samsung 43</p></strong>
        </section>
        <section>
            <strong><p>Ofertas</p></strong>

            <img src="/images/img-cafetera-moulinex.jpg" alt="">
            <p>$6.770 <br> 40% off</p>
            <strong><p>Cafetera Moulinex</p></strong>

            <img src="/images/img-macbook-pro-2019.jpg" alt="">
            <p>$230.000 <br> 20% off</p>
            <strong><p>MacBook Pro 2019</p></strong>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
            <p>$70.500 <br> 10% off</p>
            <strong><p>Samsung Galaxy S10</p></strong>

            <img src="/images/img-tv-samsung-smart.jpg" alt="">
            <p>$23.200 <br> 5% off</p>
            <strong><p>SmartTv Samsung 43</p></strong>
        </section>
    </main>
    <footer>
        <strong><p>Pagá con tarjeta o en efectivo</p></strong>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <strong><p>Envío gratis desde $ 2.500</p></strong>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
        <strong><p>Seguridad, de principio a fin</p></strong>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        <strong><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></strong>
    </footer>
</body>
</html>